manifest/force-app/main/default/flows/Create_Scratch_Orgs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Scratch_Org_Action</name>
        <label>Create Scratch Org Action</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>copado__RunCopadoFunction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>End_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <stringValue>a0q8c000006KpYaAAK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>functionApiName</name>
            <value>
                <stringValue>create_scratch_org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parametersJSON</name>
            <value>
                <elementReference>ParameterJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>showValidationErrors</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>ParameterJson</name>
        <dataType>String</dataType>
        <expression>&apos;[{ &quot;name&quot;:&quot;ScratchOrgName&quot;, &quot;value&quot;:&quot;&apos; &amp; {!Scratch_Org_Name} &amp; &apos;&quot;}, { &quot;name&quot;:&quot;git_json&quot;, &quot;value&quot;:&quot;{$Context.Repository.Credential}&quot;}, { &quot;name&quot;:&quot;provider&quot;, &quot;value&quot;:&quot;{$Context.Git_Provider__c}&quot;}, { &quot;name&quot;:&quot;SfdxAuthUrl&quot;, &quot;value&quot;:&quot;force://PlatformCLI::5Aep861chPZdGDOFGgNfpN5mH_qDSBypd0NMDWOVhQHcziAEL9lNG03iZrBcTcDLVmXcKsPKVSXCbdOQoj1Kcfp@copado108.my.salesforce.com&quot;}, { &quot;name&quot;:&quot;DevHubInstanceUrl&quot;, &quot;value&quot;:&quot;https://copado108.my.salesforce.com&quot;}, { &quot;name&quot;:&quot;DevHubUsername&quot;, &quot;value&quot;:&quot;c-ntrujillo-hjqs@force.com&quot;}, { &quot;name&quot;:&quot;DestinationBranch&quot;, &quot;value&quot;:&quot;trndev1&quot;}, { &quot;name&quot;:&quot;DestinationEnvironment&quot;, &quot;value&quot;:&quot;a0c8c00000HVUqRAAX&quot;}, { &quot;name&quot;:&quot;pipeline&quot;, &quot;value&quot;:&quot;a0W8c00000HH0SHEA1&quot;}, { &quot;name&quot;:&quot;DestinationEnvironmentListNumber&quot;, &quot;value&quot;:&quot;4&quot;}]&apos;</expression>
    </formulas>
    <interviewLabel>Create Scratch Orgs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Scratch Orgs</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Result</name>
            <extensionName>copado:resultStatusMonitor</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>copado__Result__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_Scratch_Org_Action</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showDetailLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Scratch_Org_Creation</name>
        <label>Scratch Org Creation</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Scratch_Org_Action</targetReference>
        </connector>
        <fields>
            <name>Scratch_Org_Name</name>
            <dataType>String</dataType>
            <fieldText>Scratch Org Name</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Your Scratch Org Name (alias) will be the same name used for the Credential record, Environment record, and Git branch.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Scratch_Org_Creation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__Git_Repository__c</objectType>
    </variables>
</Flow>
