manifest/force-app/main/default/flows/Create_Orphan_Branch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Execute_Function</name>
        <label>Execute Function</label>
        <locationX>1016</locationX>
        <locationY>693</locationY>
        <actionName>copado__RunCopadoFunction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Branch_Creation_In_Progress</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Get_User_Story.copado__Git_Repository__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>functionApiName</name>
            <value>
                <stringValue>create_orphan_branch</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parametersJSON</name>
            <value>
                <elementReference>Function_Parameters</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>showValidationErrors</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Metadata_Items</name>
        <label>Get Metadata Items</label>
        <locationX>1016</locationX>
        <locationY>258</locationY>
        <actionName>OrphanBranchCreator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Has_Metadata</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Has_Metadata</name>
        <label>Has Metadata</label>
        <locationX>1013</locationX>
        <locationY>393</locationY>
        <defaultConnector>
            <targetReference>Get_User_Story</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Metadata_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Metadata_Items</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&apos;&apos;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Metadata_Found_Screen</targetReference>
            </connector>
            <label>No Metadata Found</label>
        </rules>
    </decisions>
    <formulas>
        <name>FeatureBranch</name>
        <dataType>String</dataType>
        <expression>&apos;feature/&apos; &amp; {!Get_User_Story.Name}</expression>
    </formulas>
    <formulas>
        <name>Function_Parameters</name>
        <dataType>String</dataType>
        <expression>&apos;[ {  &quot;name&quot; : &quot;featureBranch&quot;,  &quot;value&quot; : &quot;&apos; &amp; {!FeatureBranch} &amp; &apos;&quot;}, { &quot;name&quot;:&quot;git_json&quot;, &quot;value&quot;:&quot;{$RecordId.Repository.Credential}&quot;}, { &quot;name&quot;:&quot;parseString&quot;, &quot;value&quot;:&quot;&apos; &amp; {!Get_Metadata_Items} &amp; &apos;&quot;}]&apos;</expression>
    </formulas>
    <formulas>
        <name>ResultRecordURL</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/copado__Result__c/&apos; &amp; {!Execute_Function} &amp; &apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>Create Orphan Branch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Orphan Branch</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_User_Story</name>
        <label>Get User Story</label>
        <locationX>1016</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Execute_Function</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Branch_Creation_In_Progress</name>
        <label>Branch Creation In Progress</label>
        <locationX>1009</locationX>
        <locationY>836</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Finished_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;The orphan branch creation process has been started. You can follow the Functions progress by checking its &lt;a href=&quot;{!ResultRecordURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Result record&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>asdfasd</name>
            <fieldText>&lt;p&gt;{!Get_Metadata_Items}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Action</name>
        <label>Confirm Action</label>
        <locationX>1016</locationX>
        <locationY>164</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Metadata_Items</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Are you sure you want to create an orphan branch for this User Story?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Metadata_Found_Screen</name>
        <label>No Metadata Found</label>
        <locationX>1348</locationX>
        <locationY>378</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Metadata_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;No metadata has been committed to&amp;nbsp;the User Story yet. &lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Please try again after you have finished committing your changes to the User Story.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>890</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Confirm_Action</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
